span{
	vertical-align: middle;
}
.green{
	color: green;
}
.navbar-color{
	background-color: #80af65;
	border-bottom-width: 0px;
}
.navbar-header{
	min-height: 65px;
}
.navbar .right-padding{
	float: right;
	margin-top: 7px; 
}
.navbar-default .navbar-nav>li>a{
	color: white;
	font-size: 18px;
}
navbar-brand img{
	height: 55px;
	width: 55px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: white;
}
.score-side{
	padding: 0px;
	position: fixed;
	height: 100vh;
	overflow: auto;
	float: left;
	width: 50%;
	background-color: #fafafa;
}
.activity-side{
	padding: 0px;
	float:right;
	width: 50%;
	height: 100vh;
	overflow: auto;	
}
.white-box{
	background-color: white;
	border: 1px solid #efefef;
}
@font-face {
    font-family: 'AvenirNext-Regular';
    src:url('./../fonts/AvenirNextLTPro-Regular.otf');
}
@font-face {
    font-family: 'AvenirNext-Medium';
    src:url('./../fonts/AvenirNextLTPro-MediumCn.otf');
}
@font-face {
    font-family: 'AvenirNext-DemiBold';
    src:url('./../fonts/AvenirNextLTPro-Demi.otf');
}
.score-side #challenge{
	margin-top: 65px;
	height: 100px;
	background: #364442;
}
.score-side #challenge img{
	display: inline-block;
	padding-bottom: 10px;
	padding-right: 15px;
}
.score-side #challenge img.question{
	float: right;
	margin-top: 30px;
}
.score-side #challenge p{
	color: #fff;
	font-size: 32px;
	font-family: 'AvenirNext-Medium';
	text-transform: uppercase;
	display: inline-block;
	padding-top: 28px;
}
.caption{
	background: #fafafa;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;	
}
.caption p{
	color: #546A67;
	font-size: 24px;
	font-family: 'AvenirNext-Medium';
	text-transform: uppercase;
	padding: 30px 0px 10px;
	margin: 0px;
}
.game{
	margin-top: 30px;
	margin-bottom: 30px;
}
.game-number{
	display: inline-block;
	border-radius: 8px; 	
	border: 2px solid #efefef; 	
	font-family: 'AvenirNext-Regular';
	text-transform: uppercase;
	margin: 0px 10px 0px;
	color:#808080;
	font-size: 24px;
	padding: 5px 10px 5px;
}
.score-side .score{
	display: flex;
	justify-content: space-around;
	height: 100px;
}
.score-side .big-letter{
	color: white;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	display: inline-block;
	font-size: 70px;
	font-family: 'AvenirNext-Regular';
	margin: auto;
}
.score-side .score .number{
	font-size: 100px;
	text-transform: uppercase;
	display: inline-block;
	color: #546a67;
	height: 100px;
	line-height: 100px;
	margin: auto;
}
.score-side .score .number span{
	margin: 20px;
	vertical-align: top;
}
.score-side .time-meters p{
	font-size: 80px;
	font-family: 'AvenirNext-DemiBold';
	color:#8dafb8;
	text-transform: uppercase;
	line-height: 0.7;
	padding: 30px 0px;
	margin-bottom: 0px;

}
.score-side .score-stands p{
	font-size: 20px;
	font-family: 'AvenirNext-Medium';
	color:#546a67;
	padding: 30px 0px;
	margin-bottom: 0px;
}
.word p{
	font-size: 24px;
	font-family: 'AvenirNext-Medium';
	text-transform: uppercase;
	display: inline-block;
	color: #546a67;
}
.score-side .bullet span{
	font-size: 15px;
	font-family: 'AvenirNext-Medium';
	padding:30px 2px 30px;
	line-height: 0.7;
	display: inline-block;
}
.score-side #bullet-1{
	font-size: 35px;
	color: #b5b5b5;
}
.score-side #bullet-2{
	font-size: 35px;
	color: #e4e4e4;
}
.activity-side .heading-teams{
	height: 100px;
	width: 50%;
	position: fixed;
	font-family: 'AvenirNext-Medium';
	text-transform: uppercase;
	margin-top: 65px;
	z-index: 10;
}
.activity-side .green-table{
	display: inline-block;
	margin-right: 60px;
}
.activity-side .teams{
	display: inline-block;
	margin-left: 60px;	
}
.activity-side .green-table p{
	color: #80af65;
	font-size: 24px;
	font-family: 'AvenirNext-Medium';
	text-transform: uppercase;
	padding-top: 25px;
}
.teams p{
	color: #546A67;
	font-size: 24px;
	font-family: 'AvenirNext-Medium';
	text-transform: uppercase;
	padding-top: 25px;
}	
.activity-side .table{
	margin-top: 165px;
	margin-bottom: 0px;
}
.activity-side .table-condensed{
	margin-bottom: 20px;
	display: inline-block;
}
.activity-side .table-condensed th{
	padding: 20px 20px 8px;
	font-size: 20px;
	color: #999;
	font-family: 'AvenirNext-Medium'; 
}
.activity-side .table-condensed td{
	padding: 8px;
	color: #546a67;
	font-size: 24px; 
	font-family: 'AvenirNext-Regular';
} 
.activity-side .table-condensed .first-column{
	color: #999;
	font-size: 20px;
	font-family: 'AvenirNext-DemiBold';
}
.activity-side .table-condensed .last-column{
	color: #80af65;
	font-size: 26px;
	font-family: 'AvenirNext-DemiBold';
}
.letter{
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	display: inline-block;
	font-size: 24px;
	font-family: 'AvenirNext-Regular';
	padding: 3px 2px 0px;
	margin: 0px 15px;
}
.letter-B{
	background-color: #33aadd; 
}
.letter-A{
	background-color: #80af65;
}
.letter-D{
	background-color: #ffcc55;
}
.letter-C{
	background-color: rgb(241, 106, 99);
}	
.activity-side .details .time-meters{
	font-size: 22px;
	color: #cccccc;
	font-family: 'AvenirNext-Regular';
}
.activity-side .details .live{
	font-size: 26px;
	color: #f16a63;
	text-transform: uppercase;
}
.activity-side .details .full-time{
	font-size: 20px;
	color: #546a67;
	text-transform: uppercase;
}
.activity-side .details .score{		
	font-size: 36px;
	font-family: 'AvenirNext-Medium';
	color: #546a67;
}
.activity-side .name{		
	font-size: 26px;
	font-family: 'AvenirNext-Medium';
	color: #80af65;
}	
.activity-side .added{		
	font-size: 26px;
	font-family: 'AvenirNext-Medium';
	color: #b5b5b5;
}
.activity-side .details{
	display: table;
	width: 100%;
}
.activity-side .details .row-score-expanded{		
	display: table-row-group;  
}

.activity-side .details .row-score-expanded .row-score-detail-main{		
	display: table-row;
	height: 100px;
}

.row-score-detail{
	display: table-row;
	height: 120px;
}

.middle-col, .right-col, .left-col {		
	display: table-cell;
	vertical-align: middle;
}

.activity-side .details .row-score{		
	height: 135px;
	display: table-row;  
}
.activity-side .details .row-score .right-col{		
	border-bottom: 1px #efefef solid;
}
.activity-side .details .row-score .middle-col{		
	border-bottom: 1px #efefef solid;
}
.activity-side .details .row-score .left-col{		
	border-bottom: 1px #efefef solid;
}

.row-score-detail-divider{
	display: table-row;
}

.activity-side .details .row-score-detail .right-col{		
	border-bottom: 0px #efefef solid;
}
.activity-side .details .row-score-detail .middle-col{		
	border-bottom: 1px #efefef solid;
}
.activity-side .details .row-score-detail .left-col{		
	border-bottom: 0px #efefef solid;
}

.activity-side .details .row-score-detail-main .middle-col{		
	border-bottom: 1px #efefef solid;
}

.activity-side .details .row-score-expanded :last-child .right-col{
	border-bottom: 1px #efefef solid;
}
.activity-side .details .row-score-expanded :last-child .left-col{
	border-bottom: 1px #efefef solid;
}

/* Small devices (phones, less than 410px) */
@media screen and (max-width: 410px) {

 	.score-side .big-letter{
 		width: 70px;
	}
	.activity-side .details{
		display: block;
	}
	.activity-side .details .row-score{		
		display: inline;	
	}
	.activity-side .details .row-score >div{		
		margin: 20px;   
	}
	.activity-side .details .row-score .right-col{		
		display: block;
		border: none;
	}
	.activity-side .details .row-score .middle-col{		
		display: block;
		border: none;
	}
	.activity-side .details .row-score .left-col{		
		display: block;
	}

	.activity-side .details .row-score-expanded{
		display: inline-block;
	}
	.activity-side .details .row-score-expanded .row-score-detail-main{		
		height: 130px;
	}

	.activity-side .details .row-score-detail-main >div{		
		margin: 10px;   
	}
	.activity-side .details .row-score-detail-main .right-col{		
		display: block;
	}
	.activity-side .details .row-score-detail-main .middle-col{		
		display: block;
		border: none;
	}
	.activity-side .details .row-score-detail-main .left-col{		
		display: block;
		border-bottom: 1px #efefef solid;
	}	
	.activity-side .details .row-score-detail .left-col{		
		display: block;
		border-bottom: 1px #efefef solid;
	}

	.activity-side .details .row-score-detail >div{		
		margin: 10px;   
	}
	.activity-side .details .row-score-detail .right-col{		
		display: block;
		margin: 10px; 
	}
	.activity-side .details .row-score-detail .middle-col{		
		display: block;
		border: none;
	}
	.activity-side .details .row-score-detail .left-col{		
		display: block;
		border-bottom: 1px #efefef solid;
	}

	.activity-side .details .row-score-expanded :last-child .right-col{
		border-bottom: none;
	}

	.score-side .score .number span{
		margin: 0px;
	}
	.activity-side .table-condensed td{
		padding: 2px;
	}
	.activity-side .table-condensed .letter{
		margin:0px 5px;
	}
	.score-side #challenge img{
		padding-right: 0px;
	}

 }

 @media screen and (max-width: 815px) {
 	.score-side{
	width: 100%;
	position: relative; 
	float: none;
	height: auto;	
	} 
 	.activity-side{	
	width: 100%;
	position: relative;
	float: none;	
	height: auto;
	} 
	.activity-side .heading-teams{
	height: 100px;
	width: 100%;
	position: relative;
	}
	.activity-side .table{
	margin-top: 0px;
	}
	.activity-side .details .row-score{		
	height: 135px;
	}
	.activity-side .table-condensed th{
		text-align: center;
		padding: 2px;
	}
	.activity-side .table-condensed th{
		padding: 20px 19px 10px; 
	}	
 }	

 @media screen and (min-width: 815px) and (max-width: 840px) {
 .score-side .score .number span{
		margin: 5px;
	}
	.activity-side .table-condensed th{
		padding: 20px 20px 10px; 
	}
 }
